body{ background-color:#999}
font-family:tahoma;
}
#outer{
width:1250px;
margin:0 auto;}
#wrapper{
width:1150px;
margin:0 auto;
background-color:#946;
padding:0px 15px;
}
#logo img{
width:650px;height:150px;
margin:15px 0px;
float:left;
}
#socialmedia{float:right;}
#socialmedia ul{margin-top:60px;}
#socialmedia ul li{display:inline;}
#socialmedia ul li img{width:60px;height:45px;}
#nav ul{
border-top:2px black solid;border-bottom:2px black solid;margin:20px 0;padding:10px 0;
clear:both;
}
#nav ul li{
display:inline;
}#nav ul li a{
padding:0 15px;
}
#nav a:link{color:black;}
#nav a:visited{color:blue;}
#nav a:active{color:blue;}
#nav a:hover{color:green;}
.operations{float:left;width:300px;}
.video{margin:auto;width:200px;}
.video1{margin:auto;width:1050px;height:150px;border-bottom:5px solid black;}
.LATEST{width:300px;float:right;}
.bottom{height:295px;background-color:#778899;clear:both;}
#bottom-left{float:left}
#bottom-left{clear:both;}
#bottom-right{float:right;}
#bottom-left a:link{color:black;}
#bottom-left a:visited{color:#93 0;}
#bottom-left a:active{color:blue;}
#bottom-left a:hover{color:green;}
#footer{
clear:both;padding:10px 0;border-top:2px black solid;text-align:center;color:darkgreen;background-color:#000080;
}
h1{color:#ABCDDE5}
h3{font-size:24px;padding-bottom:10px;border-bottom:2px green solid;margin-bottom:15px;color:blue;}
h2{font-size:24px;padding-bottom:10px;border-bottom:2px green solid;margin-bottom:15px;color:blue;}
.date{color:#ffffff;margin-bottom:3px;}
#about img{width:1040px;height:250px;}
.image-frame{padding:10px;border:green solid;margin:10px;}

/*css slideshow container*/
*{box-sizing: border-box;}
.mySlides {display: none;}
.myslides img {vertical-align: middle;width:1040px;height:350px;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #FFF056;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color:#717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}